{% extends 'website/base.html' %}
{% block title %}
{% load static %}
Message From Our Chairman
{% endblock title %}
{% block content %}
<div class="breadcumb-wrapper" data-bg-src="assets/img/bg/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Message From Our Chairman</h1>
            <ul class="breadcumb-menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about_intro' %}">About</a></li>
                <li>Message From Our Chairman</li>
            </ul>
        </div>
    </div>
</div>
<section class="space">
  <div class="container">
    <div class="team-details">
      <div class="row gy-4">
        <div class="col-lg-5">
          <div class="th-team team-card">
            <div class="box-img">
              {% if website_content.chairman_pic %}
                <img src="{{ website_content.chairman_pic.url }}">
              {% else %}
                <img src="{% static 'assets/img/team/default-doctor.png' %}">
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="team-about">
             
 <p class="team-about_text">{{ website_content.chairman_message |safe}}</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
{% endblock content %}